* {
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    width: 800px;
    margin: 20px auto;
    position: relative;
}

.test_header {
    text-align: center;
}

.test_body li,
.test_body ul {
    margin: 5px;
}

.test_body ul li {
    list-style-type: none;
}

.test_button {
    margin: 10px;
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
}

.test_button:hover {
    background: #05f;
    color: #fff;
}

.modal {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 300px;
    background: #ddd;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.75);
}

.modal h2 {
    font-size: 24px;
    margin: 20px 0;
}

.modal p {
    font-size: 14px;
}

.modal button {
    margin: 25px 0;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #000;
    background: #fff;
}

.modal button:hover {
    background: #05f;
    color: #fff;
}